<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppAmplify {{ title | safe}}</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container-fluid">
    <h1>
        <span class="row">
            <span class="col-sm-9"> AppAmplify Management Console</span>
            <span class="col-sm-3">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><small>Logout</small></a>
                {% endif %}
            </span>
        </span>
    </h1>
    <hr/>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>